<!-- <nav class="navigation">
     <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
     </ul>
</nav> -->

<header class="header"> 
         <div class="nav">
                 <ul class="menu">
                     <li class="menu-item"><a href="/" class="menu-link">Home</a></li>
                     <li class="menu-item"><a href="/about" class="menu-link">About</a></li>
                     <li class="menu-item"><a href="/contact" class="menu-link">Contact</a></li>
                 </ul>
         </div>
</header>